body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #1F1F1F;
}

#h1Tag{
    color: white;
}

#colorBox{
    width: 200px;
    height: 200px;
    border: 2px solid lightblue;
    margin: 0 auto;
}

#copyBtn{
    background-color: rgba(0, 128, 0, 0.753);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}

#copyBtn:hover{
    background-color: rgba(1, 93, 1, 0.76);
    box-shadow: 10px 10px 10px 2px rgba(4, 230, 72, 0.418);
}

#colorCode{
    font-size: 20px;
    color: white;
}

#generateNewColorBtn{
    background-color: rgba(2, 0, 128, 0.753);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}

#generateNewColorBtn:hover{
    background-color: rgba(30, 39, 167, 0.521);
    box-shadow: 10px 10px 10px 3px white;
}